{% extends "LayoutAdmin.njk" %}

{% block content %}
    <main id="main">
        <section class="sectionTitle">
            <h2>Criate a chefs</h2>
            <div class="divButton">

                <button class="salvar" type="submit" form="post">Save chef</button>

            </div>
        </section>

        <section class="form">
            <form method="POST" action="/admin/chefs" id="post" enctype="multipart/form-data">

                {% include 'Parts/FormsChefs.njk'%}

            </form>
        </section>

    </main>
{% endblock content %}

{% block footer %}
    {% include 'fildsFooter.njk'%}
{% endblock footer%}