{% extends "LayoutAdmin.njk" %}
{% import "parts/SectionHeaderCreate.njk" as section %}

{% block content %}

    <main id="main">

        {{ section.headerCreate('Criate a chefs') }}

        <section class="form">
            <form method="POST" action="/admin/chefs" id="post" enctype="multipart/form-data">
                {% include 'Parts/FormsChefs.njk'%}
            </form>
        </section>

    </main>
    
{% endblock content %}

{% block footer %}
    {% include 'fildsFooter.njk'%}
{% endblock footer%}