{% extends "LayoutAdmin.njk" %}

{% block content %}

    <main id="main">
    
        <section class="sectionTitle">

            <h2>Manage chefs</h2>

            <div class="divButton">
                <form action="/admin/chefs?_method=DELETE" method="POST" class="deletar" onsubmit="confirmDelete(event)">
                    <input type="hidden" name="id" value="{{ chef.id }}">
                    <input type="hidden" name="total_recipes" value="{{ chef.total_recipes }}">
                    <button type="submit" >Delete</button>
                </form>
                <button class="salvar" type="submit" form="post">Update</button>
            </div>

        </section>

        <section class="form">

            <form method="POST" action="/admin/chefs?_method=PUT" id="post" enctype="multipart/form-data">
                <input type="hidden" name="id" value="{{ chef.id }}">
                <input type="hidden" name="file_id" value="{{ file[0].id }}">
                
                {% include 'Parts/FormsChefs.njk'%}         

            </form>

        </section>

    </main>

{% endblock content %}