{% extends "LayoutAdmin.njk" %}
{% import "parts/SectionHeaderIndex.njk" as section %}

{% block content %}

    <main id="main" class="mainReceitasAdmin">

     {{ section.headerIndex('chefs', session.userAdmin) }}
    
        <div id="cardsChefs" class="cardsAdmin">
           
            {% for chef in chefs %}

                <div class="cardChef" id="{{ chef.id }}">

                    <div class="cardImage">
                        <a href="/admin/chefs/{{ chef.id }}"><img class="link_image" src="{{chef.src}}" name="/admin/chefs/{{ chef.id }}"></a>
                    </div>
                    <section class="section">
                        <div class="cardTitle">
                            <a href="/admin/chefs/{{ chef.id }}"><p class="link_title" >{{chef.name}}</p></a>
                        </div>
                        <div class="cardVisualizar">
                            <a href="/admin/chefs/{{ chef.id }}">Visualize</a>
                        </div>
                    </section>
                </div>
 
            {% endfor %}

        </div>

    </main>

{% endblock %}