{% extends "LayoutAdmin.njk" %}

{# {% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %} #}

{# {% block header %}
    <nav class="links">
        <a href="recipes">Recipes</a>
        <a href="chefs">Chefs</a>
    </nav>
{% endblock header %}

{% block search %}
{% endblock search %} #}

{% block content %}

    <main id="main" class="mainReceitasAdmin">
        <section class="sectionTitle">
            <h2>Gerenciar chefs</h2>
            <a href="/admin/chefs/create">Adicionar chefs</a>
        </section>

        <div id="cardsChefs">

            {% for chef in chefs %}

                <div class="cardChef" id="{{ chef.id }}">

                    <div class="cardImage">
                        <img class="link_image" src="{{chef.avatar_url}}" name="/admin/chefs/{{ chef.id }}">
                    </div>
                    <section class="section">
                        <div class="cardTitle">
                            <h3 class="link_title" href="/admin/chefs/{{ chef.id }}">{{chef.name}}</h3>
                        </div>
                        <div class="cardVisualizar">
                            <a href="/admin/chefs/{{ chef.id }}">Visualisar</a>
                        </div>
                    </section>
                </div>
 
            {% endfor %}

        </div>

    </main>

    {# <script src="/scriptReceitaDetalhe.js"></script> #}
    <script src="/scriptDetalhe.js"></script>

    {# <script src="/scripts.js"></script> #}

{% endblock %}

{# {% block footer %}
    {% include 'fildsFooter.njk'%}
{% endblock footer%} #}