{% extends "LayoutAdmin.njk" %}

{% block content %}

    <main id="main" class="mainAdminDetalhe">
        <section class="sectionTitle">
          
        </section>
       
    </main>

{% endblock content %}

{% block footer %}
    {% include 'fildsFooter.njk'%}
{% endblock footer%}