{% extends "Layout.njk" %}
{% import "parts/SectionRecipes.njk" as section %}


{% block content %}

<main id="main" class="mainHome">

    {% include "parts/Banner.njk"%}

     {{ section.recipes('The most accessed', recipes) }}
      
    </main>

{% endblock %}