{% extends "Layout.njk" %}
{% import "parts/SectionRecipes.njk" as section %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <main id="main" class="mainReceitas">
    {{ section.recipes('Buscando por: ', recipes, filter) }}

        <div class="pagination"
                data-page={{pagination.page}}
                data-total={{pagination.total}}
                data-filter={{filter}}
            >
            <h1>{{pagination.page}}</h1>
            <h1>{{pagination.total}}</h1>
        </div>

    </main>

{% endblock %}