{% extends "Layout.njk" %}
{% import "parts/SectionRecipes.njk" as section %}

{% block head %}
    <title>Receitas - Foodfy</title>
{% endblock %}

{% block content %}

    <main id="main" class="mainReceitas">
    {{ section.recipes('Buscando por: ', recipes, filter) }}

     <div class="pagination"
            data-page={{pagination.page}}
            data-total={{pagination.total}}
            data-filter={{filter}}
        >
        <h1>{{pagination.page}}</h1>
        <h1>{{pagination.total}}</h1>
        </div>

        {# <h2>Buscando por: "{{ filter }}"</h2>

        <div id="cardsRecipes">

            {% for receita in receitas %}

                <div class="cardRecipe" id="{{ receita.id }}">
                    <div class="cardImage">
                        <img class="link_image" src="{{receita.image}}" name="/recipe/{{ receita.id }}">
                    </div>
                    <div class="cardTitle">
                        <a class="link_title" href="/recipe/{{ receita.id }}">{{receita.title}}</a>
                    </div>
                    <div class="cardAuthor">
                        <p  class= "link_chef" name="/chef/{{ receita.chef_id }}">{{receita.author}}</p>
                    </div>
                </div>

            {% endfor %}

        </div> #}

    </main>


{# <script src="/scriptReceitasadmin.js"></script> #}
<script src="/scriptDetalhe.js"></script>
    {# <script src="/scriptReceitas.js"></script> #}

{% endblock %}