html {
    width:100vw;
}
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style-position: inside;
    list-style: none;
}

body {
    background: white;
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-rows: 93px 1fr 62px;
    min-height: 100vh;
    flex-direction: column;
}

#cardsRecipes, 
#cardsChefs {
    display: grid;
    gap: 20px;
    row-gap: 30px;
    margin-top: 20px;
    margin-bottom: 50px;
}



/* === HEADER === */

#header {
    background: #111;
}
#header section,
main {
    width: 940px; 
    margin: 0 auto;
    display: 1;
}

#header section {
    height: 100%;
    display: grid;
    grid-template-columns: 90.6px 1fr 346px;
    align-items: center;
}
nav {
    margin-left: 122.4px;   
}
nav a + a {
    margin-left: 30px;
}
.links a {
    color: #953930;
    position: relative;
}
.links a.active {
    color: #d54f44; 
}
.links a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color:#d54f44;
    position: absolute;
    left: 0;
    bottom: -6px;
}
.links a:hover::after,
.links a:hover{
    width: 100%;
    transition: width 200ms ease-in-out ;
    color: #d54f44;
}
#header form {
    display: flex;
    justify-self: end;
}
#header form input,
#header form button {
    border-radius: 4px;
    font-size: 16px;
}
#header form input{
    width: 246px;
    height: 37px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    margin-right: 8px;
    color: #666666;
    outline: none;
    padding-left: 16px;
}
#header form button{
    width: 91px;
    height: 37px;
    color: #000000;
    font-weight: bold;
    background: #953930;
    cursor: pointer;
}

/* ===  BANNER ===*/

#banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 366px;
    margin-top: 30px;
    border-radius: 30px;
    background: #FBDFDB;
    align-items: center;
}
#bannerContainer {
    margin-left: 60px;
    /* Efeito text */
    /* position: absolute; */
}
#bannerContainerTitle h1{
    font-size: 28px;
    color: #111111;
    margin-bottom: 10px;
    width: 305px;
    animation: textH1 2s ease-in-out;
}
@keyframes textH1 {
    0% {
      
        letter-spacing: 1.5px;
    }
  } 
#bannerContainerText p {
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    animation: textP 2s ease-in-out;
}
@keyframes textP {
    0% {
        opacity: 0;
        margin-bottom: -20px
    }
  } 


#bannerContainerImg {
    text-align: right;
    margin-right: 100px;
    align-self: end;
    animation: imageChef 2s ease-in-out;
}

@keyframes imageChef {
    0%{
        margin-right: 0px; 
    }
    100%{
        margin-right: 100px; 
    }
}

#main {
    display: flex;
    flex-direction: column;
}

#main h2{
    font-size: 24px;
    color: #111111; 
    margin-top: 50px;
}

/* ===  CARDS ===*/


#cardsRecipes {
    grid-template-columns: 1fr 1fr 1fr;
}
.cardRecipe{
    height: 202px;
}
.cardRecipe .cardImage{
    height: 140px;
    border-radius: 15px;   
    overflow: hidden;
}
.cardRecipe img {
    width: 300px;
    height: 140px;
    filter: brightness(50%);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}
.cardRecipe img:hover{
    transition:all 1.1s ease-in-out;
    filter: brightness(100%);
    transform: scale(1.1);  
}
.cardRecipe .cardTitle {
    margin-top: 20px;
}
.cardRecipe .cardTitle a{
    font-size: 18px;
    color: #111111;
    font-weight: bold;
    opacity: 0.85;
}
.cardRecipe .cardAuthor {
    margin-top: 5px;
}
.cardRecipe .cardAuthor p {
    font-size: 14px;
    color: #777777;
    cursor: pointer;
}
#footer{
    background-color: #eeeeee;
    text-align: center;
    padding: 23px;
    width: 100%;
    /* margin-top: 50px; */
}
#footer p{
    font-size: 14px;
    color: #999999;   
}

/* === SOBRE === */

.mainSobre h3 {
    font-size: 20px;
    color: #111111;
    margin-top: 30px;
}
.containerText p{
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    margin-top: 20px;
}
.containerText.last p {
    margin-bottom: 50px;
}
/* === CHEFS ===*/

#cardsChefs {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cardChef {
    display: flex;
    align-items: center;   
}

.cardChef .cardImage{
    width: 64px;
    height: 64px;
}
.cardChef img {
    border-radius: 50%;   
    width: 100%;
    height: 100%;
    filter: brightness(50%);
    transition: all 1.1s ease-in-out;
    cursor: pointer;
    object-fit: cover;
}
.cardChef img:hover{
    transition:all 1.1s ease-in-out;
    filter: brightness(100%);
    transform: scale(1.1);  
}

.cardChef section {
    margin-left: 20px;
}
.cardChef .cardTitle a{
    font-size: 18px;
    color: #111111;
    font-weight: bold;
    opacity: 0.85;
}
.cardChef .cardAuthor {
    margin-top: 5px;
}
.cardTotalRecipes {
    margin-top: 5px;
}
.cardChef .cardTotalRecipes h5 {
    font-size: 14px;
    color: #666666;
}

/* === DETALHES RECIPES ===*/

.bannerCardRecipe {
    width: auto;
    height: 400px;
    margin-top: 50px;
    text-align:  center;
}
.bannerCardRecipeImage {
    height: 280px;
}
.bannerCardRecipeImage img {
    border-radius: 15px;
    width: 940px;
    height: 280px;
    object-fit: cover;
}
.bannerCardRecipeTitle {
    margin-top: 50px;
}
.bannerCardRecipeTitle h1 {
    font-size: 36px;
    color: #111111;
}
.bannerCardRecipeAuthor {
    margin-top: 4px;
}
.bannerCardRecipeAuthor p {
    font-size: 20px;
    color: #777777;
}

.mainReceitaDetalhe h3{
    margin-top: 50px;
}
.mainReceitaDetalhe h3,
.mainAdminDetalhe h3  {
    font-size: 24px;
    color: #111111;
}
.mainReceitaDetalhe span,
.mainAdminDetalhe span {
    font-size: 12px;
    color: #999999;
    font-weight: bold;
    margin-left: 8px; 
    cursor: pointer;  
}
.mainReceitaDetalhe ul,
.mainAdminDetalhe ul{
    margin-top: 20px;
    display: none;
}
.mainReceitaDetalhe ul li,
.mainAdminDetalhe ul li {
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    text-align: justify;
}
.mainReceitaDetalhe ul.visible{
    display: block;
}
.informacoesAdicionais {
    margin-bottom: 50px;
}

/* === DETALHES CHEFS ===*/

.bannerCardChefImage {
    width: 100%;
    height: 100%; 
    display: flex;
    justify-content: center;
}
.bannerCardChefImage img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.bannerCardChefTitle {
    margin-top: 30px;
    text-align: center;
}
.bannerCardChefTitle h1 {
    font-size: 36px;
    color: #111111;
}
.bannerCardChefTitle p {
    font-size: 20px;
    color: #777777;
    margin-top: 4px;
}
/* === CHEF DETAIL RECIPES CHEF */
 #cardsRecipesChef,
 #adminCardsRecipes{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; 
    margin-top: 30px;
}
.cardRecipesChef .cardImage {
    height: 80px;
    overflow: hidden;
    border-radius: 8px;
}
.cardRecipesChef {
    display: flex;
    align-items: center; 
}
.cardRecipesChef img {
    width: 172px;
    height: 80px;
}
.cardRecipesChef .section {
    margin-left: 20px;
}
.cardRecipesChef .section .cardTitle a{
    font-size: 18px;
    color: #111111;
    cursor: pointer;
    background: none;
}
.cardRecipesChef .section p {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #777777;
}
.cardRecipesChef .section a,
.sectionTitle a,
.cardVisualizar a{
    background: #953930;
    color: #111111;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
}
.cardVisualizar {
    margin-top: 10px;

}
.cardVisualizar a{
    padding: 2px;
}

/* === ADMIN RECIPES === */

.sectionTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 37px;
    margin-top: 50px;
}
#main h2 {
    margin-top: 0;
}
.sectionTitle a{
    height: 37px;
    width: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
}
/* === ADMIN CREATE RECIPES === */
.form input, textarea, select {
    height: 49px;
    width: 100%;
    outline: none;
    color: #111;
    font-size: 16px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-bottom: 10px;
} 
textarea{
    min-height: 257px;
    margin-bottom: 50px;
}
button[type="submit"]{
    height: 37px;
}
button[type="submit"],
.add-ingredient,
.add-passo {   
    border-radius: 4px;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.divButton  button[type="submit"].salvar{
    background: #953930;
    width: 139px;
}
.form .item div {
    margin-bottom: 15px;
}
.form .item p {
    font-size: 16px;
    color: #111111;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}
.add-ingredient,
.add-passo {
    background: #953930;
    padding: 4px;
    cursor: pointer;
    margin-top: 8px;
}
/* === ADMIN DETAIL RECIPES === */
.mainAdminDetalhe .span {
    display: none;
}
#main.mainAdminDetalhe h2{
margin-top: 50px;
}
.mainAdminDetalhe ul {
    display: block;
}
/* === ADMIN EDIT === */
.divButton {
    display: flex;
}
.divButton .deletar button[type="submit"]{ 
    margin-right: 10px;
    width: 92px;
    background: #DC4747;
}
/* === ADMIN CHEFS === */


/* === PHOTOS UPLOAD === */
form .item #photos-upload {
    position: relative;
    display: block;
    overflow: hidden;
    width: 150px;  
    border: solid 1px #DDDDDD;
    height: 150px; 
    display: flex;
    justify-content: center;  
    border-radius: 3.5px; 
}

.form .item div {
    margin-bottom: 0px;
}
    

form .item #photos-upload i {
    position: absolute;
    display: flex;
    color: #777777;
    font-size: 28px;  
    align-self: center;
}
form .item #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}
#photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 8px;
    width: 150px; 
    height: 150px; 
}

#photos-preview img {
    width: 150px; 
    height: 150px; 
    border-radius: 3.5px; 
    border: solid 1px #DDDDDD;
    object-fit: cover;
}

#photos-preview .photo{
    position: relative;
}

#photos-preview .photo i {
    position: absolute;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(222,222,222, 0.85);
    color: red;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 500ms;
    font-size: 28px;
    opacity: 0;
    cursor: pointer;
}
#photos-preview .photo:hover i{
    opacity: 1;
}
.item #imageContainer{
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-gap: 10px; 
}