form .item #photos-upload.chef {
  width: 150px;
  height: 40px;
  background: #953930;
  border-radius: 4px;
}

form .item #photos-upload.chef i{
  color: black;
  font-weight: bold;
}

#photos-preview.chef {
  border: 1px solid rgba(222,222,222, 0.85);
  margin-bottom: 10px;
}