.accounts  {
  position: relative;
}

.menu {
  top: 42px;
  right: 0;
  position: absolute;
  width: 178px;
  border-radius: 8px;
  overflow: hidden;
  transition: all 200ms;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
}

.menu .item a,
.menu .item p:first-child {
  color: #000e;
  font-weight: bold;
}

.menu .item p:first-child {
  text-align: center;
  
}

.menu .item p:last-child {
  /* color: #4b4a4a; */
  font-size: 12px;
  text-align: center;
}

.accounts:hover .menu {
  opacity: 1;
  visibility: initial;
}

.menu .item {
  border-top: 1px solid var(--secondary-color);
}

.btn {
  display: block;
  padding: 8px 20px;
  background:  var(--primary-color);
  color: #000e;
  position: relative;
  font-size: 14px;
}

#header .menu .item form button {
  width:100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  text-align: left;
  padding: 8px 20px;
}