.pagination {
  width: 920px;
  display: flex;
  position: absolute;
  bottom: 0px ;
  padding: 20px;
  background: rgba(235, 234, 236, 0.8);
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
  justify-content: center;
  border-radius: 8px;
}

.pagination a,
.pagination span {
  color:#000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 35px;
  height: 35px;
  text-decoration: none;
  margin-right: 16px;
  background: #953930;
  border-radius: 4px;
  box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.3);
}

.pagination a:hover {
  background-color:#d54f44;
}