.bannerCardRecipe {
  width: auto;
  height: 400px;
  text-align:  center;
}
.bannerCardRecipeImage {
  height: 280px;
}
.bannerCardRecipeImage img {
  border-radius: 15px;
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.bannerCardRecipeTitle {
  margin-top: 8px;
}
.bannerCardRecipeTitle h1 {
  font-size: 36px;
  color: #111111;
}
.bannerCardRecipeAuthor {
  margin-top: 4px;
}
.bannerCardRecipeAuthor p {
  font-size: 20px;
  color: #777777;
}

.mainReceitaDetalhe h3,
.mainAdminDetalhe .title h3{
  margin-top: 50px;
}
.mainReceitaDetalhe h3,
.mainAdminDetalhe h3  {
  font-size: 24px;
  color: #111111;
}
.mainReceitaDetalhe span,
.mainAdminDetalhe span {
  font-size: 12px;
  color: #999999;
  font-weight: bold;
  margin-left: 8px; 
  cursor: pointer;  
}
.mainReceitaDetalhe ul,
.mainAdminDetalhe ul{
  margin-top: 20px;
  display: none;
}
.mainReceitaDetalhe ul li,
.mainAdminDetalhe ul li {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  text-align: justify;
}
.mainReceitaDetalhe ul.visible{
  display: block;
}
.informacoesAdicionais {
  margin-bottom: 50px;
}

.gallery-preview {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 8px; 
  justify-content: flex-end;
}

.gallery-preview img {
  border: 1px solid #DDDDDD;
  border-radius: 3.5px;
  margin-left: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  opacity: 0.6;
  cursor: pointer;
  transition: 400ms;
}
.gallery-preview img:hover,
.gallery-preview img.active {
  opacity: 1;
}