{% extends "layoutAdmin.njk" %}
{% import "parts/SectionHeaderCreate.njk" as section %}

{% block content %}

    <main id="main">

        {{ section.headerCreate('Criate an recipe') }}

        <section class="form">
            <form method="POST" action="/admin/recipes" id="post" enctype="multipart/form-data">
                {% include 'Parts/FormsRecipes.njk'%}
            </form>
        </section>

    </main>
{% endblock content %}