{% extends "layoutAdmin.njk" %}
{% import "parts/SectionHeaderIndex.njk" as section %}

{% block content %}

    <main id="main" class="mainReceitasAdmin">
    {{ section.headerIndex('recipes', session.userAdmin) }}
    
        <div id="adminCardsRecipes" class="cardsAdmin">

            {% for recipe in recipes %}

                <div class="cardRecipesChef" id="{{ recipe.id }}">

                    <div class="cardImage">
                         <a href="/admin/recipes/{{ recipe.id }}"><img class="link_image" src="{{recipe.src}}"></a>
                    </div>
                    <section class="section">
                        <div class="cardTitle">
                            <a class="link_title" href="/admin/recipes/{{ recipe.id }}">{{recipe.title}}</a>
                        </div>
                        <div class="cardAuthor">
                            <p class="cardChef">{{recipe.chef}}</p>
                        </div>
                        <div class="cardVisualizar">
                            <a href="/admin/recipes/{{ recipe.id }}">Visualize</a>
                        </div>
                    </section>
                </div>

            {% endfor %}

        </div>

    </main>

{% endblock %}

{% block footer %}
    {% include 'fildsFooter.njk'%}
{% endblock footer%}