<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        
        {% include "Parts/Styles.njk" %}

        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

    </head>

    <body>

    {% include "Parts/Header.njk" %}

        {% block content %}{% endblock %}

        {% include "Parts/Footer.njk" %}

        <script src="/scripts.js"></script>

    </body>

</html>