<div id="banner">

        <div id="bannerContainer">
            <div id="bannerContainerTitle">
                <h1>As melhores receitas</h1>
            </div>
            <div id="bannerContainerText">
                <p>Aprenda a constuir os melhores pratos com receitasciradas por profissionais do mundo inteiro.
                </p>
            </div>
        </div>

        <div id="bannerContainerImg">
            <img src="./images/chef.png" alt="">
        </div>
    </div>