<div class="item">
    <p>Imagen da receita</p>
    <div id="imageContainer">
        <div id="photos-upload">
            <input 
                id="photos-input"
                type="file" 
                name="photos" 
                multiple
                accept="image/*"
                onchange="PhotosUpload.handleFileInput(event)"
            > 
             <i class="material-icons">add</i> 
        </div>
    
    <div id="photos-preview">
        {% if product.files %}
            {% for image in product.files %} 
                <div class="photo" id="{{ image.id }}">
                    <img src="{{ image.src }}" alt=" image.name ">
                    <i class="material-icons"
                        onclick="PhotosUpload.removeOldPhoto(event)"
                    >close</i>                        
                </div>
            {% endfor %}
            <input type="hidden" name="removed_files">
        {% endif %}
    </div> 
    </div> 
</div>



{# <div class="item">
    <p>Imagen da receita</p>
    <div>
        <input type="url" name="image" placeholder="http://" value="{{ receita.image }}">
    </div>
</div> #}

<div class="item">
    <p>Nome da receita</p>
    <div>
        <input type="text" name="title" value="{{ receita.title }}">
    </div>
</div>

<div class="item">
    <p>Nome do autor</p>
    <div>
        <select name="chef">
            {% for chef in chefOptions %}
                <option value="{{ chef.id }}" {% if receita.chef_id == chef.id %} selected="selected" {% endif %}>{{ chef.name }}</option>
                {# <input type="text" name="author" value="{{ receita.author }}"> #}
            {% endfor %}
        </select>
    </div>
</div>

{% block add %}

    <div class="item">
        <p>Ingredientes</p>
        <div id="ingredients">
            {% if receita.ingredients %}
                {% for ingredient in receita.ingredients %}
                    <div class="ingredient">
                        <input type="text" name="ingredients[]" value="{{ ingredient }}" placeholder="Ingredient"/>
                    </div>
                {% endfor %}
            {% else %}
                <div class="ingredient">
                    <input type="text" name="ingredients[]" value="{{ ingredient }}" placeholder="Ingredient"/>
                </div>
            {% endif %}
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="item">
        <p>Modo de preparo</p>
        <div id="passos">
            {%if receita.preparation %}
                {% for preparo in receita.preparation %}
                    <div class="passo">
                        <input type="text" name="preparation[]" value="{{ preparo }}" placeholder="Passo"/>
                    </div>
                {% endfor %}
            {% else %}
                <div class="passo">
                    <input type="text" name="preparation[]" value="{{ preparo }}" placeholder="Passo"/>
                </div>
            {% endif%}

        </div>
        <button type="button" class="add-passo">Adicionar novo passo</button>
    </div>

{% endblock add %}

<div class="item">
    <p>Informações adicionais</p>
    <div>
        <textarea name="information" id="textArea" cols="30" rows="10">{{ receita.information }}</textarea>
    </div>
</div>