<div class="item">
    <p>Image of recipe</p>
    <div id="imageContainer">
        <div id="photos-upload">
            <input 
                id="photos-input" 
                type="file" 
                name="photos" 
                multiple="multiple" 
                accept="image/*" 
                onchange="PhotosUpload.handleFileInput(event, totalPage = 5)">
            <i class="material-icons">add</i>
        </div>
        <div id="photos-preview">
            {% if files %}

                {% for image in files %}
                    <div class="photo" id="{{ image.id }}">
                        <img src="{{ image.src }}" alt=" {{ image.name }} ">
                        <i class="material-icons" 
                        onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                    </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
            {% endif %}
        </div>
    </div>
</div>

<div class="item">
    <p>Name of recipe</p>
    <div>
        <input type="text" name="title" value="{{ recipe.title }}">
    </div>
</div>

<div class="item">
    <p>Name of author</p>
    <div>
        <select name="chef_id">
            {% for chef in chefOptions %}
                <option 
                    value="{{ chef.id }}" 
                    {% if receita.chef_id == chef.id %} 
                        selected="selected" 
                    {% endif %}>{{ chef.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{% block add %}

    <div class="item">
        <p>Ingredients</p>
        <div id="ingredients">
            {% if recipe.ingredients %}
                {% for ingredient in recipe.ingredients %}
                    <div class="ingredient">
                        <input type="text" 
                            name="ingredients[]" 
                            value="{{ ingredient }}" 
                            placeholder="Ingredient"/>
                    </div>
                {% endfor %}
            {% else %}
                <div class="ingredient">
                    <input 
                        type="text" 
                        name="ingredients[]" 
                        value="{{ ingredient }}" 
                        placeholder="Ingredient"/>
                </div>
            {% endif %}
        </div>
        <button 
            type="button" 
            class="add-ingredient" 
            onclick="addNewImput.addIngredient(event)">Add new ingredient</button>
    </div>

    <div class="item">
        <p>Method of preparation</p>
        <div id="passos">
            {%if recipe.preparation %}
                {% for preparation in recipe.preparation %}
                    <div class="passo">
                        <input 
                            type="text" 
                            name="preparation[]" 
                            value="{{ preparation }}" 
                            placeholder="Passo"/>
                    </div>
                {% endfor %}
            {% else %}
                <div class="passo">
                    <input 
                        type="text" 
                        name="preparation[]" 
                        value="{{ preparation }}" 
                        placeholder="Passo"/>
                </div>
                {% endif%}

            </div>
            <button 
                type="button" 
                class="add-passo" 
                onclick="addNewImput.addPasso(event)">Add new step</button>
        </div>

    {% endblock add %}

    <div class="item">
        <p>Aditionals information</p>
        <div>
            <textarea 
                name="information" 
                id="textArea" 
                cols="30" 
                rows="10">{{ recipe.information }}</textarea>
        </div>
    </div>