<div class="item">
    <div class="user">
        <div>
            <p>Name</p>
            <input type="text" name="name" value="{{ user.name }}" placeholder="Entre your name">
        </div>
        <div>

            <p>Email</p>
            <input type="email" name="email" value="{{ user.email }}" placeholder="Entre your e-mail">
        </div>
    </div>

    <div class="user">
        <input type="password" name="password" value="{{ user.password }}" placeholder="Entre your password">
        <p>Password</p>
    </div>
</div>