        <header id="header">
            <section>
                    <a href="/" class="logo"><img src="/images/logo2.png" alt=""></a>
                  
                        <nav class="links">
                            <a href="/About">About</a>
                            <a href="/Recipes">Recipes</a>
                            <a href="/Chefs">Chefs</a>
                        </nav>

                    <form action="/Search" method="GET">
                        <input 
                        type="text" 
                        name="filter" 
                        placeholder="Buscar uma receita" 
                        value="{{ filter }}">
                        <button type="submit">Filtrar</button>
                    </form>    
              
            </section>
        </header>