<header id="header" class="admin">
    <section>
        <a href="/" class="logo"><img src="/images/logo2.png" alt=""></a>

        <nav class="links">
            <a href="/admin/recipes">Recipes</a>
            <a href="/admin/chefs">Chefs</a>
            <a href="/admin/users">Users</a>
        </nav>
        <div class="searchButon">
            {% include "parts/menu.njk" %}
         </div>
        {# <div class="button">
            <form action="/users/logout" method="POST">
                <button>Sign out</button>
            </form>
        </div> #}

    </section>
</header>
{% include "parts/messages.njk" %}