<header id="header">
    <section>
        <a href="/" class="logo"><img src="/images/logo2.png" alt=""></a>

        <nav class="links">
            <a href="/recipes/index">Recipes</a>
            <a href="/chefs/index">Chefs</a>
        </nav>

    </section>
</header>