<header id="header">
    <section>
        <a href="/" class="logo"><img src="/images/logo2.png" alt=""></a>

        <nav class="links">
            <a href="/About">About</a>
            <a href="/Recipes">Recipes</a>
            <a href="/Chefs">Chefs</a>
        </nav>
        <div class="searchButon">
            <form class="search" action="/Search" method="GET">
                <input 
                    type="text" 
                    name="filter" 
                    placeholder="Find a Recipe" 
                    value="{{ filter }}">
                <button type="submit">Search</button>
            </form>
                {% include "parts/menu.njk" %}
        </div>
    </section>
</header>

{% include "parts/messages.njk" %}
