{% macro headerCreate(name, user, userAdmin) %}

  <section class="sectionTitle">

      <h2>{{ name }} {{ user }}</h2>
      
      <div class="divButton">
          <button 
            class="salvar" 
            type="submit" 
            form="post">Save</button>
            {% if userAdmin == true %}
              <a class="cancel" href="/admin/users">Cancel</a>
            {% endif %}
      </div>

  </section>

{% endmacro %}