{% macro recipes(name, receitas, filter) %}

        <h2>{{ name }} {{filter}}</h2>

        <div id="cardsRecipes">

            {% for receita in receitas %}

                <div class="cardRecipe" id="{{ receita.id }}">
                    <div class="cardImage">
                        <img class="link_image" src="{{receita.image}}" name="/recipe/{{ receita.id }}" onclick="Show.showRecipe('/recipe/{{ receita.id }}')">
                    </div>
                    <div class="cardTitle">
                        <a class="link_title" href="/recipe/{{ receita.id }}">{{receita.title}} {{ receita.id }}</a>
                    </div>
                    <div class="cardAuthor">
                        <p class= "link_chef" name="/chef/{{ receita.chef_id }}">{{receita.author}}</p>
                    </div>
                </div>

            {% endfor %}

        </div>

{% endmacro %}